Django==5.0.4
djangorestframework==3.15.1
python-dotenv==1.0.1
psycopg2-binary==2.9.9
drf_spectacular==0.27.2
factory-boy==3.3.0
django-rest-passwordreset==1.4.1
djangorestframework-simplejwt==5.3.1
django-phonenumber-field[phonenumberslite]==7.3.0
drf_social_oauth2==2.2.0
python-telegram-bot==21.1.1
django-cors-headers==4.3.1
daphne==4.1.2
channels==4.1.0
channels-redis==4.2.0
Pillow==10.3.0
Celery==5.4.0
flower==2.0.1
django_filter==24.2
elasticsearch-dsl==8.17.0
django-elasticsearch-dsl==8.0
