<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Регистрация на портале "Солнечный Екатеринбург".</title>
</head>

<body>
  <p>{{ username }}, добрый день!</p>
  <p>Рады, что Вы воспользовались нашим сервисом!</br>
    Для завершения регистрации, пожалуйста, перейдите по ссылке {{ verification_url }}</br>
    Если Вы не регистрировались на нашем сайте, то просто проигнорируйте настоящее письмо.</br></p>
  <p>С наилучшими пожеланиями,</br>
    Команда "Солнечный Екатеринбург".</p>
</body>

</html>
